.position {
    text-align: justify;
    margin-left: 1cm;
    margin-top: 0.5cm;
}

.styleanswer {
    font-style: italic;
}

@media only screen and (max-width: 450px) {
    .imageSet{
        border-radius: 15px;
    /* padding-top: 10vh; */
    padding-bottom: 10vh;
    /* margin-top: 0.5vh; */
    border-bottom: 5px solid #f7a231;
    }

    .imageSet img {
        height: auto;
        width: 100%;
    }
  }
 

