@media only screen and (max-width: 450px) {
  .scrollToTop {
    position: fixed;
    bottom: 45px;
    right: 25px;
  }
}

@media only screen and (min-width: 450px) {
  .scrollToTop {
    position: fixed;
    bottom: 50px;
    right: 100px;
  }
}

.scrollToTop button {
  background-color: #696969;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  outline: none;
  -moz-box-shadow: 2px 2px 2px 0px #7e7e7e;
  -webkit-box-shadow: 2px 2px 2px 0px #7e7e7e;
  box-shadow: 2px 2px 2px 0px #7e7e7e;
}
