.custom-navbar {
  background-color: #1d8ba6;
  z-index: 99;
  width: auto;
}

.nav-link{
  color: #f0f0f0 !important;
}

.nav-link:hover{
  color: #d8d8d8 !important;
}

.custom-join {
  /* font-weight: bold; */
  background-color: #F7A231;
  color: #f0f0f0 !important; 
  margin: 0px;
}

.custom-join:hover {
  /* font-weight: bold; */
  /* display: block; */
  background-color: rgba(0, 0, 0, 0);
  color: #F7A231 !important; 
  border: 1px solid #F7A231;
}