@media screen and (max-width: 780px) {
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background: #4b79a1; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom bottom,
      #283e51,
      #4b79a1
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom bottom,
      #283e51,
      #4b79a1
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    height: 100%;
    overflow: auto;
  }
}

@media screen and (min-width: 780px) {
  .sidebar {
    /* margin: 0;
    padding: 0; */
    width: 200px;
    background: #4b79a1; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom bottom,
      #283e51,
      #4b79a1
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom bottom,
      #283e51,
      #4b79a1
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    height: 45vh;
    overflow: auto;
    padding-top: 5vh;
    margin-top: 10vh;
    color: #ffffffff;
  }
}

.root {
  color: #ffffff !important;
}

.sidebar button {
  display: block;
  color: #ffffffff;
  background-color: #4b79a1;
  border: none;
  outline: none;
  padding: 16px;
  text-decoration: none;
}

.sidebar button.active {
  background-color: #f7a231;
  color: white;
}

.sidebar button:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 740px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar button {
    float: left;
  }
}

@media screen and (max-width: 400px) {
  .sidebar button {
    text-align: center;
    float: none;
  }
}
