@media only screen and (max-width: 450px) {
  .search-root {
    background-color: #f5f5f5;
    border-radius: 0px 0px 15px 15px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    /* border-top: 2px solid #f7a231; */
    border-bottom: 5px solid #f7a231;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  .input-group {
    margin-top: 7vh;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .search-root h4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .form-control:focus {
    box-shadow: none;
  }

  .info-root {
    border-radius: 15px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin-top: 0.5vh;
    border-bottom: 5px solid #f7a231;
  }

  .info-root img {
    height: auto;
    width: 100%;
  }
}
@media only screen and (min-width: 450px) {
  .container-fluid {
    padding: 0 5vw 0px 5vw;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    margin-top: 0.3vh;
  }
  .search-root {
    padding-left: 10vw;
    padding-top: 15vh;
    padding-bottom: 10vh;
    background-color: #f5f5f5;
    border-radius: 15px;
  }
  .info-root {
    padding-left: 10vw;
    padding-top: 15vh;
    padding-bottom: 10vh;
    margin-top: 0.5vh;
    border-radius: 15px;
  }

  .search-root h4 {
    margin-left: 0.5vw;
  }

  .search-root:active,
  .search-root:hover {
    box-shadow: 12px 12px 12px 10px rgba(0, 0, 0, 0.2),
      -12px -12px 12px 0px rgba(255, 255, 255, 0.5);
    /* border-radius: 15px; */
    border-bottom: 5px solid #f7a231;
  }

  .input-group {
    margin-top: 7vh;
    margin-right: auto;
    width: 70%;
  }

  .info-root img {
    height: auto;
    width: 100%;
  }

  .form-control:focus {
    box-shadow: none;
  }

  /* .info-root:hover {
    box-shadow: 12px 12px 24px 10px rgba(0, 0, 0, 0.2),
      -12px -12px 24px 0px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    border-bottom: 5px solid #f7a231;
  } */
}