.row1 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
    width: 75%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  
  .container4 {    
    
    border: 0.5px solid white;
    width: 850px;
    height: 760px;
    margin: none;
    margin-top:none;
    margin-bottom: 20px;
    background: #ffffff;
    
    padding: 20px 25px 25px 25px;
    border-radius: 15px;
    transition: all .3s;
  }
  .container6 {    
    
    border: 1px solid white;
    width: 348px;
    height: 760px;
    margin: none;
    margin-top:none;
    margin-bottom: 20px;
    background: #ffffff;    
    padding: 20px 25px 25px 25px;
    border-radius: 15px;
    transition: all .3s;
  }
  .container7 {    
    
    border: 1px solid white;  
    margin-top:none;
    margin-bottom: 20px;
    background: #ffffff;    
    padding: 20px 25px 25px 25px;
    border-radius: 15px;
    transition: all .3s;
  }
  .payput {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
  }
  
  
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn5 {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .error1 {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 15px;
    
    color: #999;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 450px) {
    .custom-row {
      flex-direction: column-reverse;
      background-color: white;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }